<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Signo</title>
</head>
<body>
    <h1>tu signo es  {{signo}}</h1>
    <h2>los {{signo}} {{descripcion}}</h2>
</body>
</html>